p {
    font-family: Arial, Helvetica, sans-serif;
}

.descricao {
    margin-left: 2%;
    margin-right: 5%;
}

.bottom {
    padding-top: 9.5%;
}

.title-name {
    text-transform: capitalize;
    font-size: 22px;
    font-family: "Roboto","Trebuchet MS","Tahoma","Verdana","Arial","sans-serif";
    font-weight: bold;
}

.money {
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Roboto","Trebuchet MS","Tahoma","Verdana","Arial","sans-serif";
    font-weight: bold;
}

  