.modal {
  font-family: "Roboto", "Trebuchet MS", "Tahoma", "Verdana", "Arial",
    "sans-serif";
}

.title {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 400;
  margin-top: 0%;
}

.content {
  margin-bottom: 5%;
  margin-left: 2%;
  font-size: 15px;
  font-weight: 200;
}

.error {
  margin-top: 2px;
}

.buttons {
  margin-top: 2%;
  margin-bottom: 0.5%;
}