<mat-dialog-content class="modal">
    <p class="title">Reprovação</p>

    <div class="content">
        <p>Nome: {{ cliente.nome }}</p>
        <p>CPF: {{ cliente.cpf }}</p>
        <p>Salário Mensal: {{ cliente.salario | currency: 'R$' }}</p>
    </div>

    <form>
        <mat-form-field class="example-full-width"
                        appearance="fill">
            <mat-label>Motivo</mat-label>
            <textarea matInput
                      id="motivo"
                      name="motivo"
                      [(ngModel)]="motivo"
                      #cpf="ngModel"
                      placeholder="Descreva o motivo de reprovação. Este será mandado para o cliente como justificativa."
                      required></textarea>
            <mat-error class="error">É preciso adicionar um motivo de reprovação</mat-error>
        </mat-form-field>
        <div class="buttons"
             fxLayoutAlign="space-between end">
            <button mat-stroked-button
                    color="primary"
                    mat-dialog-close>Cancelar</button>
            <button mat-raised-button
                    color="primary"
                    [disabled]="motivo?.length === 0 || !motivo"
                    [mat-dialog-close]="motivo">Confirmar</button>
        </div>
    </form>
</mat-dialog-content>