.title {
    margin-left: 10%;
    margin-top: 3.5%;
    margin-bottom: 2%;
    text-transform: capitalize;
    font-size: 32px;
    font-family: "Roboto","Trebuchet MS","Tahoma","Verdana","Arial","sans-serif";
    font-weight: 400;
}

.pull-right {
    text-align: right;
}

.button {
    margin-right: 1%;
}