.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  max-width: 9%;
  justify-content: space-between;
  align-items: center;
}
