<div fxLayoutAlign="center center">
  <mat-card class="mat-card-center"
            fxFlex="85">
    <mat-card-title>BANTADS</mat-card-title>
    <mat-card-subtitle>Trabalho para a disciplina de DAC - UFPR 2022</mat-card-subtitle>
    <mat-card-content>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Sobre </mat-panel-title>
            <mat-panel-description fxLayoutAlign="end">
              <mat-icon>task</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h4>Desenvolvimento de um sistema de Internet Banking usando Angular e Java Spring, baseado na arquitetura de
            microsserviços.</h4>
        </mat-expansion-panel>

      </mat-accordion>

      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Desenvolvedores </mat-panel-title>
            <mat-panel-description fxLayoutAlign="end">
              <mat-icon>code</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h4>Felipe de Carlo Sousa Correa</h4>
          <h4>Galileu Frez Veloso</h4>
          <h4>Giulia Guarise Gutierrez</h4>
          <h4>Raphael Pereira Rodrigues</h4>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>